.am-icons-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 15px;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.875rem;
    i {
        display: inline-block;
        font-size: 20px;
        width: 40px;
        text-align: left;
        color: #b66dff;
    }
}

.pipe-action {
    display: inline-block;
    font-size: 20px;
    width: 40px;
    text-align: left;
    color: #b66dff;
}

a.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  a.btn {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  .table {
    width: 99%;
    // margin-bottom: $spacer;
    // color: $table-color;
    // background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  
    td {
      line-height: 0;
    }
    th {
        font-weight: bold;
    }
  
    // thead th {
    //   vertical-align: bottom;
    //   border-bottom: (2 * $table-border-width) solid $table-border-color;
    // }
  
    // tbody + tbody {
    //   border-top: (2 * $table-border-width) solid $table-border-color;
    // }
  }

  .edit-cursor {
      cursor: pointer;
  }
  .delete-cursor {
    cursor: pointer;
  }

  .ng-pagination {
    float: right;
    clear: right;
  }
