<div class="page-header">
  <h3 class="page-title">
    Basic tables
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
    </ol>
    <button (click)="getEmployees()" type="button" class="btn btn-gradient-primary btn-rounded btn-icon">
      <i class="mdi mdi mdi-refresh"></i>
    </button>&nbsp;Refresh
    <!-- <button (click)="getEmployees()" type="button" class="btn btn-info btn-fw">Refresh</button> -->
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pragiti Employees List</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Icon</th>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Status</th>
                <th style="padding-left: 5px;">Edit &nbsp;|&nbsp; Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td class="py-1"><img src="assets/images/faces/face1.jpg" alt="image"/></td>
                <td data-th="E_ID" class="ng-binding"><strong class="ng-binding"><a href="#">{{ employee.id }}</a></strong></td>
                <td data-th="Name" class="ng-binding"> {{ employee.name }} </td>
                <td data-th="Email" class="ng-binding"> {{ employee.email }} </td>
                <td data-th="Designation" class="ng-binding"> {{ employee.designation }} </td>
                <!-- <td data-th="Designation" [ngClass]="employee.active == true ? 'ng-binding text-success': 'ng-binding text-danger'"> {{ employee.designation }} </td> -->
                <td data-th="Status" class="ng-binding">
                  <ng-container *ngIf="employee.active == false;else activeEmployee">
                    <label class="badge badge-danger">In active</label>
                  </ng-container>
                  <ng-template #activeEmployee>
                    <ng-container *ngIf="employee.active == true">
                      <label class="badge badge-success">Active</label>
                    </ng-container>
                  </ng-template>
                </td>
                <td data-th="Edit" class="ng-binding">
                  <div class="row am-icons-list">
                    <i (click)="editIconClick('/update', employee.id)" class="mdi mdi-table-edit edit-cursor"></i>
                    <i (click)="presentConfirm(employee.id)" class="mdi mdi-delete delete-cursor"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>